/* tracy.css */

/* ../hawaii page */
.why-hawaii {
	margin-top: 5em;
}

.why-hawaii img {
	margin-left: -1.5em;
}

.why-hawaii h1 {
	color: #000;
	margin: 1em 0 0 0;
} 

.why-hawaii h3 {
	color: #2d8fbd;
}